.details-shopping-cards-container{
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
  
  .description-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 20px;
  
    h6{
      color: $primary;
      font-size: 30px;
      line-height: 1;
    }
    span{
      color: $secondary;
      line-height: 1;
      font-size: 15px;
    }
    p{
      color: $primary;
      font-size: 18px;
      line-height: 1;
    }
    button{
      margin-top: auto;
      background: $primary;
      padding: 10px 20px;
      color: $white;
      cursor: pointer;
    }
  }
  
  img{
    width: 100%;
    object-fit: cover;
    background: $white;
    border-radius: 8px 8px 0 0;
  }
@media (max-width:769px) {
    max-width: unset;
}


}