.product-sidebar-container{
  width: 100%;
  padding: 20px 48px 20px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  
  .product-container{
    width: 100%;
    display: grid;
    justify-content: right; 
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 16px;
  }
  
  @media (max-width:762px) {
    flex-direction: column;
  }
}