
.slider-container {
  max-width: 100%;
  margin: 0 auto;
  background: $primary;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
  border: 2px solid $white;
}

.slide-image {
  max-height: 300px;
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
}

.slide-text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 8px;
}